{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Modification de produit</h1>

    {{ include('produit1/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('produit1_index') }}">back to list</a>

    {{ include('produit1/_delete_form.html.twig') }}
{% endblock %}
